
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div style="background-image: url('../../image/lunbo/1.jpg');" >
    <table>
        <thead>
            <tr>
                <th>大哥</th>
                <th>大哥</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <th>小弟</th>
            <th>小弟</th>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
