
@{
    ViewData["Title"] = "Add";
}

<h2>Add</h2>

<body>
    <div id="add">
        <table v-show="StuList.length">
            <tr>
                <td>姓名</td>
                <td><input id="Text1" type="text" v-model="Name" /></td>
            </tr>
            <tr>
                <td>年龄</td>
                <td><input id="Text1" type="text" v-model="Age" /></td>
            </tr>
            <tr>
                <td>
                    <a href="#" v-on:click="addStudent(Name,Age)">添加</a>
                    @*<input id="Button1" type="button" value="添加"  v-on:click='addUser(Name,Pwd,Age)'/>*@
                </td>
            </tr>


        </table>
    </div>
</body>
<script type="text/javascript">
    var vm = new Vue({
        el: "#add",
        data: {
            StuList: ['张三', '李四', '王五',"二狗"],
            Name: ""

        },
        methods: {
            addUser: function (UserName) {
                axios.post('@Url.Action("Add", "Student")', { Student: { Name: this.Name } }).then(
                    (response) => {
                        alert("添加成功");
                    },
                    (response) => {
                        alert(response.status);
                    }
                ).catch(function (response) {
                    alert(response);
                });
            },
        },

    });
</script>